<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/estilos.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <ul class="nav-links">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="../lista_categorias.php">Lista de Categorias</a></li>
                    <li><a href="../lista_productos.php">Lista de Productos</a></li>
                    <li><a href="categorias.html">Registrar Categoria</a></li>
                    <li><a href="productos.html">Registrar Producto</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>

    </main>

</body>

</html>