<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../assets/css/estilos.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <ul class="nav-links">
                    <li><a href="../lista_productos.php">Home</a></li>
                    <li><a href="../lista_categorias.php">Lista de Categorias</a></li>
                    <li><a href="../lista_productos.php">Lista de Productos</a></li>
                    <li><a href="./categorias.html">Registrar Nueva Categoria</a></li>
                    <li><a href="./productos.html">Registrar Nuevo Producto</a></li>
                </ul>
            </div>
        </nav>
        <img id="imagen" src="../../assets/img/logo.png" alt="logo">
    </header>

</body>

</html>