body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.subt {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

#imagen {
    position: fixed;
    top: -110px;
    right: -60px;
    width: auto;
    height: 60%;
}


.form {
    background-color: #fff;
    border: 1px solid #d1c5c5;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
[type="file"] {
    font-size: 15px;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.btn:hover {
    background-color: #555;
}


.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

p {
    font-size: 14px;
    color: #333;
    margin: px 0;
}

/* estilos para la tabla*/
table {
    width: calc(100% - 50px);
    margin: 15px;
    padding: 10px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #000;
}

/* Estilos para las celdas de la tabla */
th,
td {
    padding: 2px;
    /* Añadimos 2 píxeles de padding */
    text-align: left;
}

/* Estilos para el encabezado de la tabla */
th {
    text-align: center;
    background-color: #333;
    color: #fff;
}

/* Estilos para las filas pares e impares de la tabla */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    text-align: center;
    width: auto;
    /* Eliminamos la anchura fija */
}

td img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* Estilos del navbar ------> esto se agrego nuevo */
.container {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    font-size: 20px;
    background-color: #333;
    /* Color oscuro de fondo */
    padding: 20px 0;
    /* Espacio interior superior e inferior */
    color: white;
    /* Color del texto */
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

/* Cambiar el color del enlace al pasar el mouse por encima */
.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
    /* Cambiar al color azul al pasar el mouse */
}

/* Estilos para la tabla */
.table-container {
    margin: 20px;
    border: 1px solid #ddd;
}